@import "tailwindcss";
body {
  /* This ensures a beautiful font and smooth scrolling experience */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}